= provide :title, 'Cursos'

#courses
  .container
    .row
      .col-md-12
        .col-md-8{class: 'col-md-offset-2'}
          %h2{class: 'bold text-center'} Cursos
          %p{class: 'text-center'} Acompanhe os cursos que nós oferecemos.
          %br
        
          .col-md-12
            .panel{class:'panel-default col-md-12', style: 'padding: 20px;'}
              .col-md-3
                = image_tag('web.svg', height: '100px', width: '100px', style: 'margin-bottom: 15px;')
              .col-md-6
                %h4{class: 'bold'}=link_to 'DESENVOLVIMENTO WEB', ''
                %p 39 Aulas.
              .col-md-3
                =link_to 'EM BREVE', '', class: 'btn btn-primary btn-lg top'
              
              %hr
              .col-md-12{style: 'border-top: 1px solid #EEE; padding-top: 20px;'}
                %p{class: 'text-justify'} É aqui que tudo começa! Uma introdução prática a todas as ferramentas essencias necessárias para construir sites reais e funcionais. Você aprenderá o que os desenvolvedores da Web realmente fazem - as fundações necessárias para cursos posteriores.
    
          .col-md-12
            .panel{class:'panel-default col-md-12', style: 'padding: 20px;'}
              .col-md-3
                = image_tag('ruby.svg', height: '100px', width: '100px', style: 'margin-bottom: 15px;')
              .col-md-6
                %h4{class: 'bold'}=link_to 'PROGRAMAÇÃO EM RUBY'
                %p 23 Aulas.
              .col-md-3
                =link_to 'EM BREVE', '', class: 'btn btn-primary btn-lg top'
              
              %hr
              .col-md-12{style: 'border-top: 1px solid #EEE; padding-top: 20px;'}
                %p{class: 'text-justify'} Hora de mergulhar fundo no Ruby, a linguagem "projetada para a felicidade do programador". Você cobrirá estruturas de design, testes e dados orientados a objetos - conhecimento essencial para aprender outras linguagens de programação também! 

          .col-md-12
            .panel{class:'panel-default col-md-12', style: 'padding: 20px;'}
              .col-md-3
                = image_tag('database.svg', height: '100px', width: '100px', style: 'margin-bottom: 15px;')
              .col-md-6
                %h4{class: 'bold'}=link_to  'BANCO DE DADOS'
                %p 3 Aulas.
              .col-md-3
                =link_to 'EM BREVE', '', class: 'btn btn-primary btn-lg top'
              
              %hr
              .col-md-12{style: 'border-top: 1px solid #EEE; padding-top: 20px;'}
                %p{class: 'text-jusfity'} É aqui que tudo começa! Uma introdução prática a todas as ferramentas essencias necessárias para construir sites reais e funcionais. Você aprenderá o que os desenvolvedores da Web realmente fazem - as fundações necessárias para cursos posteriores.

          .col-md-12
            .panel{class:'panel-default col-md-12', style: 'padding: 20px;'}
              .col-md-3
                = image_tag('rubyonrails.svg', height: '100px', width: '100px', style: 'margin-bottom: 15px;')
              .col-md-6
                %h4{class: 'bold'}=link_to 'RUBY ON RAILS', ''
                %p 33 Aulas.
              .col-md-3
                =link_to 'EM BREVE', '', class: 'btn btn-primary btn-lg top'
              
              %hr
              .col-md-12{style: 'border-top: 1px solid #EEE; padding-top: 20px;'}
                %p{class: 'text-justify'} É aqui que tudo começa! Uma introdução prática a todas as ferramentas essencias necessárias para construir sites reais e funcionais. Você aprenderá o que os desenvolvedores da Web realmente fazem - as fundações necessárias para cursos posteriores.

          .col-md-12
            .panel{class:'panel-default col-md-12', style: 'padding: 20px;'}
              .col-md-3
                = image_tag('html.svg', height: '100px', width: '100px', style: 'margin-bottom: 15px;')
              .col-md-6
                %h4{class: 'bold'}=link_to 'HTML E CSS'
                %p 31 Aulas.
              .col-md-3
                =link_to 'EM BREVE', '', class: 'btn btn-primary btn-lg top'
              
              %hr
              .col-md-12{style: 'border-top: 1px solid #EEE; padding-top: 20px;'}
                %p{class: 'text-justify'} É aqui que tudo começa! Uma introdução prática a todas as ferramentas essencias necessárias para construir sites reais e funcionais. Você aprenderá o que os desenvolvedores da Web realmente fazem - as fundações necessárias para cursos posteriores.

          .col-md-12
            .panel{class:'panel-default col-md-12', style: 'padding: 20px;'}
              .col-md-3
                = image_tag('javascript.svg', height: '100px', width: '100px', style: 'margin-bottom: 15px;')
              .col-md-6
                %h4{class: 'bold'}=link_to 'JAVASCRIPT'
                %p 35 Aulas.
              .col-md-3
                =link_to 'EM BREVE', '', class: 'btn btn-primary btn-lg top'
              
              %hr
              .col-md-12{style: 'border-top: 1px solid #EEE; padding-top: 20px;'}
                %p{class: 'text-justify'} É aqui que tudo começa! Uma introdução prática a todas as ferramentas essencias necessárias para construir sites reais e funcionais. Você aprenderá o que os desenvolvedores da Web realmente fazem - as fundações necessárias para cursos posteriores.

          .col-md-12
            .panel{class:'panel-default col-md-12', style: 'padding: 20px;'}
              .col-md-3
                = image_tag('gethired.svg', height: '100px', width: '100px', style: 'margin-bottom: 15px;')
              .col-md-6
                %h4{class: 'bold'}=link_to 'MERCADO DE TRABALHO'
                %p 14 Aulas.
              .col-md-3
                =link_to 'EM BREVE', '', class: 'btn btn-primary btn-lg top'
              
              %hr
              .col-md-12{style: 'border-top: 1px solid #EEE; padding-top: 20px;'}
                %p{class: 'text-justify'} Hora de mergulhar fundo no Ruby, a linguagem "projetada para a felicidade do programador". Você cobrirá estruturas de design, testes e dados orientados a objetos - conhecimento essencial para aprender outras linguagens de programação também! 